Repository yoshiko-pg/reviewit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: npm run lint
      fail_text: 'Linting failed. Please fix the issues and try again.'

    format:
      glob: '*.{ts,tsx,js,jsx,json,css}'
      run: npm run format
      fail_text: 'Code formatting failed. Please check the issues and try again.'

    typecheck:
      glob: '*.{ts,tsx}'
      run: npm run typecheck
      fail_text: 'TypeScript compilation failed. Please fix type errors and try again.'

    test:
      glob: 'src/**/*.{ts,tsx}'
      run: npm test
      fail_text: 'Tests failed. Please fix failing tests and try again.'

pre-push:
  commands:
    build:
      run: npm run build
      fail_text: 'Build failed. Please fix build errors before pushing.'

Change the requested node version to v21
  .github/workflows/pr.yml
  README.md
  package.json
Due: format

Refactor commit comparison to use three dots
  src/cli/utils.ts
  src/server/git-diff-tui.ts
  src/server/git-diff.ts
Due: lint, format, typecheck, test

Update Node.js requirement to 21+ and ES2022
  .github/workflows/pr.yml
  README.md
  mise.toml
  package.json
  tsconfig.cli.json
  tsconfig.json
Due: format

not 100% vibe coding currently
  README.md
Due: none

Release v1.1.3
  CHANGELOG.md
  package.json
Due: format

Fix three-dot notation bugs
  src/client/App.tsx
  src/server/git-diff.ts
Due: lint, format, typecheck, test

Release v1.1.4
  CHANGELOG.md
  package.json
Due: format

Implement line-type specific comment positioning
  src/client/components/DiffChunk.tsx
  src/client/components/InlineComment.tsx
  src/client/components/SideBySideDiffChunk.tsx
Due: lint, format, typecheck, test

Add MIT License
  LICENSE
Due: none

Release v1.1.5
  CHANGELOG.md
  package.json
Due: format

Fix working parameter validation to allow working vs staged comparison
  src/cli/index.ts
  src/cli/utils.test.ts
  src/cli/utils.ts
Due: lint, format, typecheck, test

Add Scala syntax highlighting support
  README.md
  src/client/utils/languageLoader.ts
Due: lint, format, typecheck, test

simplify readme
  README.md
Due: none

Add PR URL support for GitHub pull request reviews
  README.md
  package.json
  pnpm-lock.yaml
  src/cli/index.ts
  src/cli/utils.test.ts
  src/cli/utils.ts
Due: lint, format, typecheck, test

remove unused interface
  src/cli/index.ts
Due: lint, format, typecheck, test

Release v1.1.6
  CHANGELOG.md
  package.json
Due: format

Add Scala syntax highlighting support (#14)
  README.md
  src/client/utils/languageLoader.ts
Due: lint, format, typecheck, test

Fix validateCommitish to support SHA hashes with parent/ancestor references
  src/cli/utils.test.ts
  src/cli/utils.ts
Due: lint, format, typecheck, test

Release v1.1.7
  CHANGELOG.md
  package.json
Due: format

udpate release slash command
  .claude/commands/release.md
Due: none

(patch) Fix printing `localhost:undefined` when the initial port is in use
  src/server/server.ts
Due: lint, format, typecheck, test

Clarify unexpected error
  src/server/server.ts
Due: lint, format, typecheck, test

(patch) Fix port fallback behavior (#15)
  src/server/server.ts
Due: lint, format, typecheck, test

udpate release slash command
  .claude/commands/release.md
  scripts/get-changes-since-tag.sh
Due: none

Release v1.1.8
  CHANGELOG.md
  package.json
Due: format

Enable real-time appearance settings preview
  src/client/components/SettingsModal.tsx
Due: lint, format, typecheck, test

Add customizable appearance settings to Web UI
  src/client/App.tsx
  src/client/components/SettingsModal.tsx
  src/client/hooks/useAppearanceSettings.ts
  src/client/styles/global.css
Due: lint, format, typecheck, test

Fix syntax highlighting theme integration
  package.json
  pnpm-lock.yaml
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
  src/client/components/SettingsModal.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/hooks/useAppearanceSettings.ts
  src/client/utils/syntaxThemes.ts
  src/client/utils/themeLoader.ts
Due: lint, format, typecheck, test

Improve settings modal UX with background scrolling and smooth transitions
  src/client/components/SettingsModal.tsx
  src/client/styles/global.css
Due: lint, format, typecheck, test

Add customizable appearance settings to Web UI (#16)
  package.json
  pnpm-lock.yaml
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
  src/client/components/SettingsModal.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/hooks/useAppearanceSettings.ts
  src/client/styles/global.css
  src/client/utils/syntaxThemes.ts
  src/client/utils/themeLoader.ts
Due: lint, format, typecheck, test

Skip browser auto-launch when no differences found
  src/cli/index.ts
  src/server/git-diff.ts
  src/server/server.ts
  src/types/diff.ts
Due: lint, format, typecheck, test

Move settings icon to logo area and update icons
  src/client/App.tsx
Due: lint, format, typecheck, test

Improve comment theme colors and button styles
  src/client/App.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/InlineComment.tsx
  src/client/hooks/useAppearanceSettings.ts
  src/client/styles/global.css
Due: lint, format, typecheck, test

Make comment areas full width in inline mode
  src/client/components/DiffChunk.tsx
Due: lint, format, typecheck, test

Release v1.1.9
  CHANGELOG.md
  package.json
Due: format

Add --host option to configure server bind address
  src/cli/index.ts
  src/server/server.ts
Due: lint, format, typecheck, test

docs: remove unnecessary default value in help
  src/cli/index.ts
Due: lint, format, typecheck, test

docs: remove unnecessary default value in help (#22)
  src/cli/index.ts
Due: lint, format, typecheck, test

Add Jupyter Notebook diff support with cell-level visualization
  src/client/components/DiffViewer.tsx
  src/client/components/FileList.tsx
  src/client/components/NotebookCellDiff.tsx
  src/client/components/NotebookDiffViewer.tsx
  src/server/git-diff.ts
  src/server/notebook-diff.ts
  src/types/diff.ts
Due: lint, format, typecheck, test
