Repository yoshiko-pg/reviewit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: npm run lint
      fail_text: 'Linting failed. Please fix the issues and try again.'

    format:
      glob: '*.{ts,tsx,js,jsx,json,css}'
      run: npm run format
      fail_text: 'Code formatting failed. Please check the issues and try again.'

    typecheck:
      glob: '*.{ts,tsx}'
      run: npm run typecheck
      fail_text: 'TypeScript compilation failed. Please fix type errors and try again.'

    test:
      glob: 'src/**/*.{ts,tsx}'
      run: npm test
      fail_text: 'Tests failed. Please fix failing tests and try again.'

pre-push:
  commands:
    build:
      run: npm run build
      fail_text: 'Build failed. Please fix build errors before pushing.'

fix: allow '.' argument for working directory diff
  src/cli/utils.ts
  tests/cli/utils.test.ts
Due: lint, format, typecheck, test

feat: improve minor design elements
  src/client/App.tsx
  src/client/components/FileList.tsx
Due: lint, format, typecheck, test

feat: improve UX with resizable sidebar and instant scroll
  src/client/App.tsx
Due: lint, format, typecheck, test

Add comment editing functionality and fix prompt format
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/InlineComment.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/hooks/useLocalComments.ts
Due: lint, format, typecheck, test

Add file filtering and improve UI elements
  src/client/App.tsx
  src/client/components/FileList.tsx
Due: lint, format, typecheck, test

Replace native checkboxes with custom Checkbox component
  src/client/App.tsx
  src/client/components/Checkbox.tsx
  src/client/components/FileList.tsx
Due: lint, format, typecheck, test

Update README to reflect localStorage comments and new features
  README.md
Due: none

Remove uncommitted changes feature from README
  README.md
Due: none

0.0.6
  package.json
Due: format

1.0.0
  package.json
Due: format

Auto-collapse lock files by default
  src/client/App.tsx
Due: lint, format, typecheck, test

1.0.1
  package.json
Due: format

Apply mira-reborn format settings (partial)
  .prettierignore
  CLAUDE.md
  README.md
  mise.toml
  src/client/App.tsx
  src/client/components/FileList.tsx
Due: lint, format, typecheck, test

Add custom favicon with ReviewIt branding
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.png
  public/icon-192x192.png
  public/icon-512x512.png
  public/reviewit.png
Due: none

Update favicon with trimmed image for better clarity
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.png
  public/icon-192x192.png
  public/icon-512x512.png
  public/reviewit.png
Due: none

Add 100% vibe coding to README
  README.md
Due: none

Add transparent pixel art logo to README
  README.md
  public/logo.png
  src/client/index.html
  vite.config.ts
Due: lint, format, typecheck

Upgrade logo to 800px for high-resolution displays
  public/logo.png
Due: none

1.0.2
  package.json
Due: format

Fix no-floating-promises and require-await ESLint errors
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/cli/index.ts
  src/client/App.tsx
  src/client/components/CommentContext.tsx
  src/client/components/CommentForm.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/FileList.tsx
  src/client/components/InlineComment.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/hooks/useLocalComments.ts
  src/client/main.tsx
  src/server/git-diff.ts
  src/server/server.ts
  tsconfig.json
Due: lint, format, typecheck, test

Simplify comment prompt format to file:line format
  src/client/hooks/useLocalComments.ts
Due: lint, format, typecheck, test

Fix folder name truncation in file tree
  src/client/components/FileList.tsx
Due: lint, format, typecheck, test

1.0.3
  package.json
Due: format

Show commit hash range in short format
  src/client/App.tsx
  src/server/git-diff.ts
Due: lint, format, typecheck, test

1.0.4
  package.json
Due: format

Fix '.' argument to show HEAD vs working directory diff
  src/server/git-diff.ts
Due: lint, format, typecheck, test

Fix '.' argument to properly show working directory changes
  src/server/git-diff.ts
Due: lint, format, typecheck, test

1.0.5
  package.json
Due: format

Document working directory diff feature in README
  README.md
Due: none

Add automatic server shutdown when browser tab is closed
  src/client/App.tsx
  src/server/server.ts
Due: lint, format, typecheck, test

Add syntax highlighting support for shell scripts and more languages
  src/client/components/PrismSyntaxHighlighter.tsx
Due: lint, format, typecheck, test

1.0.6
  package.json
Due: format

use versoin from package.json
  src/cli/index.ts
Due: lint, format, typecheck, test

use versoin from package.json (#1)
  src/cli/index.ts
Due: lint, format, typecheck, test

1.0.7
  package.json
Due: format

Improve file navigation display in TUI
  src/server/git-diff-tui.ts
  src/tui/App.tsx
  src/tui/components/SideBySideDiffViewer.tsx
Due: lint, format, typecheck, test

Fix TUI runtime errors and add proper error handling
  src/cli/index.ts
  src/tui/App.tsx
  src/tui/components/SideBySideDiffViewer.tsx
Due: lint, format, typecheck, test

Fix CLI build configuration
  tsconfig.cli.json
Due: format

feat: add TUI mode for terminal-based diff viewing
  package.json
  pnpm-lock.yaml
  src/cli/index.ts
  src/server/git-diff-simple.ts
  src/tui/App.tsx
  src/tui/components/DiffViewer.tsx
  src/tui/components/FileList.tsx
  src/tui/components/SideBySideDiffViewer.tsx
  src/tui/components/StatusBar.tsx
  src/tui/utils/parseDiff.ts
  src/types/diff.ts
  tsconfig.cli.json
Due: lint, format, typecheck, test

Add dynamic syntax highlighting for additional languages
  src/client/components/PrismSyntaxHighlighter.tsx
  src/client/hooks/useHighlightedCode.ts
  src/client/utils/languageLoader.ts
  src/client/utils/prism.ts
Due: lint, format, typecheck, test
