Repository yoshiko-pg/reviewit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lint:
  run: npm run lint
  fail_text: Linting failed. Please fix the issues and try again.

format:
  run: npm run format
  fail_text: Code formatting failed. Please check the issues and try again.

typecheck:
  run: npm run typecheck
  fail_text: TypeScript compilation failed. Please fix type errors and try again.

test:
  run: npm test
  fail_text: Tests failed. Please fix failing tests and try again.

chore: add *.tsbuildinfo to .gitignore
  .gitignore
Due: none

feat: side-by-side diff表示機能を追加
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/styles/DiffViewer.module.css
  src/client/styles/SideBySideDiffChunk.module.css
  src/server/server.ts
Due: lint, format, typecheck, test

feat: シンタックスハイライト機能を追加とUI改善
  package.json
  pnpm-lock.yaml
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/components/SyntaxHighlighter.tsx
  src/client/styles/DiffChunk.module.css
  src/client/styles/SideBySideDiffChunk.module.css
Due: lint, format, typecheck, test

feat: prism-react-rendererによるシンタックスハイライト実装とnightOwlテーマ適用
  package.json
  pnpm-lock.yaml
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/components/SimpleSyntaxHighlighter.tsx
  src/client/components/SyntaxHighlighter.tsx
  src/client/styles/SideBySideDiffChunk.module.css
  src/types/prism-components.d.ts
  tsconfig.json
Due: lint, format, typecheck, test

chore: pre-commitによるコード整形
  pnpm-lock.yaml
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/components/SimpleSyntaxHighlighter.tsx
  src/client/styles/SideBySideDiffChunk.module.css
  src/types/css-modules.d.ts
  src/types/prism-components.d.ts
  tests/server/comment-store.test.ts
Due: lint, format, typecheck, test

feat: 自動コミットスクリプトを追加
  package.json
  scripts/commit.sh
Due: format

fix: 横幅はみ出しテキストの折り返し対応
  src/client/styles/DiffChunk.module.css
  src/client/styles/SideBySideDiffChunk.module.css
Due: format

feat: 全ファイル縦一列表示とスクロール機能を実装
  src/client/App.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/FileList.tsx
  src/client/styles/App.module.css
Due: lint, format, typecheck, test

feat: レビュー済みチェックボックス機能を追加
  src/client/App.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/FileList.tsx
  src/client/styles/FileList.module.css
Due: lint, format, typecheck, test

feat: ファイルパスコピーボタンを追加
  src/client/components/FileList.tsx
  src/client/styles/FileList.module.css
Due: lint, format, typecheck, test

fix: サイドバイサイドモードでのコメント重複表示を修正
  src/client/components/FileList.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/styles/FileList.module.css
Due: lint, format, typecheck, test

feat: ファイルヘッダーの再設計とグローバルdiffモード切り替え
  src/client/App.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/FileList.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/styles/App.module.css
  src/client/styles/DiffViewer.module.css
Due: lint, format, typecheck, test

remove commit.sh
  package.json
  scripts/commit.sh
Due: format

feat: CSS ModulesからTailwind CSSへ完全移行
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/client/App.tsx
  src/client/components/CommentForm.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/FileList.tsx
  src/client/components/InlineComment.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/styles/App.module.css
  src/client/styles/CommentForm.module.css
  src/client/styles/DiffChunk.module.css
  src/client/styles/DiffViewer.module.css
  src/client/styles/FileList.module.css
  src/client/styles/InlineComment.module.css
  src/client/styles/SideBySideDiffChunk.module.css
  src/client/styles/global.css
  vite.config.ts
Due: lint, format, typecheck, test

feat: READMEを楽しい感じにemoji付きで更新
  README.md
  docs/reviewit-diff.png
  docs/reviewit-requirements.md
  docs/reviewit-unifid.png
  package.json
Due: format

fix: CLIツールでNODE_ENV未設定時もproductionモードで動作するよう修正
  README.md
  package.json
  src/server/server.ts
Due: lint, format, typecheck, test

feat: 開発ワークフローの改善とスクリプト整理
  README.md
  package.json
  pnpm-lock.yaml
  src/server/server.ts
Due: lint, format, typecheck, test

fix: ポートフォールバック機能の修正とwait-on削除
  package.json
  pnpm-lock.yaml
  src/server/server.ts
Due: lint, format, typecheck, test

fix: lockファイルをprettier対象から除外
  .prettierignore
Due: none

feat: commit-ish引数をオプショナルに変更、デフォルトをHEADに設定
  src/cli/index.ts
Due: lint, format, typecheck, test

0.0.2
  package.json
Due: format

待ちを1秒にする
  package.json
Due: format

refactor: translate all Japanese text to English for international release
  CLAUDE.md
  README.md
  src/client/components/DiffViewer.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/components/SimpleSyntaxHighlighter.tsx
  src/server/comment-store.ts
  src/server/server.ts
  src/types/prism-components.d.ts
Due: lint, format, typecheck, test

0.0.3
  package.json
Due: format

feat: allow passing commit-ish argument to dev script
  README.md
  package.json
  pnpm-lock.yaml
  scripts/dev.js
Due: format

feat: expand all diff chunks by default
  src/client/components/DiffViewer.tsx
Due: lint, format, typecheck, test

0.0.4
  package.json
Due: format

refactor: simplify dev script without concurrently dependency
  scripts/dev.js
Due: format

pnpm version
  package.json
Due: format

fix: ensure syntax highlighting works in production builds
  src/client/components/DiffViewer.tsx
  src/client/components/PrismSyntaxHighlighter.tsx
Due: lint, format, typecheck, test

feat: improve UI design - header layout and file header enhancements
  package.json
  pnpm-lock.yaml
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/styles/global.css
Due: lint, format, typecheck, test

feat: enhance UX with comment cancellation, improved viewed button, and sticky headers
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/SideBySideDiffChunk.tsx
Due: lint, format, typecheck, test

fix: prevent duplicate comment forms in side-by-side mode
  src/client/components/SideBySideDiffChunk.tsx
Due: lint, format, typecheck, test

fix: auto-stage formatted files in pre-commit hook
  lefthook.yml
Due: none

fix: update tests for new prompt format
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/InlineComment.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/server/comment-store.ts
  src/server/server.ts
  tests/server/comment-store.test.ts
Due: lint, format, typecheck, test

fix: remove unused DiffLine import
  src/client/App.tsx
  src/client/components/DiffChunk.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/InlineComment.tsx
  src/client/components/SideBySideDiffChunk.tsx
  src/client/hooks/useLocalComments.ts
  src/server/git-diff.ts
  src/types/diff.ts
Due: lint, format, typecheck, test

0.0.5
  package.json
Due: format

refactor: remove obsolete file-based comment storage
  src/client/components/SideBySideDiffChunk.tsx
  src/server/comment-store.ts
  tests/server/comment-store.test.ts
Due: lint, format, typecheck, test

feat: major UI/UX improvements and new features
  src/client/App.tsx
  src/client/components/DiffViewer.tsx
  src/client/components/FileList.tsx
  src/server/git-diff.ts
  src/server/server.ts
  src/types/diff.ts
Due: lint, format, typecheck, test

fix: support HEAD^ syntax in commitish validation
  src/cli/utils.ts
  tests/cli/utils.test.ts
Due: lint, format, typecheck, test

Path conditions:
  lint: any of: *.{ts,tsx}
  format: any of: *.{ts,tsx,js,jsx,json,css}
  typecheck: any of: *.{ts,tsx}
  test: any of: src/**/*.{ts,tsx}
