Repository yoshiko-pg/reviewit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: npm run lint
      fail_text: 'Linting failed. Please fix the issues and try again.'

    format:
      glob: '*.{ts,tsx,js,jsx,json,css}'
      run: npm run format
      fail_text: 'Code formatting failed. Please check the issues and try again.'

    typecheck:
      glob: '*.{ts,tsx}'
      run: npm run typecheck
      fail_text: 'TypeScript compilation failed. Please fix type errors and try again.'

    test:
      glob: 'src/**/*.{ts,tsx}'
      run: npm test
      fail_text: 'Tests failed. Please fix failing tests and try again.'

pre-push:
  commands:
    build:
      run: npm run build
      fail_text: 'Build failed. Please fix build errors before pushing.'

Update README with syntax highlighting documentation
  README.md
Due: none

update README logo
  public/logo.png
Due: none

Add untracked file detection with CLI prompt
  src/cli/index.ts
Due: lint, format, typecheck, test

update readme section
  README.md
Due: none

Add type definitions for CLI options
  src/cli/index.ts
Due: lint, format, typecheck, test

1.0.8
  package.json
Due: format

TUI (#2)
  package.json
  pnpm-lock.yaml
  src/cli/index.ts
  src/server/git-diff-tui.ts
  src/tui/App.tsx
  src/tui/components/DiffViewer.tsx
  src/tui/components/FileList.tsx
  src/tui/components/SideBySideDiffViewer.tsx
  src/tui/components/StatusBar.tsx
  src/tui/utils/parseDiff.ts
  src/types/diff.ts
  tsconfig.cli.json
Due: lint, format, typecheck, test

fix build script
  package.json
Due: format

Unify argument handling between web and TUI modes
  src/cli/index.ts
  src/cli/utils.ts
  src/server/git-diff-tui.ts
  src/server/git-diff.ts
Due: lint, format, typecheck, test

Add TUI mode documentation to README
  README.md
Due: none

fix: improve build scripts in package.json
  package.json
Due: format

1.1.0
  package.json
Due: format

Refactor CLI logic: Extract untracked files handling into separate functions
  src/cli/index.ts
  src/cli/utils.ts
Due: lint, format, typecheck, test

Support checking untracked files in tui mode
  src/cli/index.ts
Due: lint, format, typecheck, test

feat: Add GitHub PR URL support for diff viewing
  src/cli/index.ts
  src/cli/pr-utils.ts
  src/cli/utils.ts
  src/server/git-diff-tui.ts
  src/server/git-diff.ts
  src/server/server.ts
  src/tui/App.tsx
Due: lint, format, typecheck, test

fix: Use execFile instead of exec for security
  src/cli/pr-utils.ts
Due: lint, format, typecheck, test

fix: improve build scripts in package.json (#3)
  package.json
Due: format

docs: remove undefined `staging` option
  README.md
Due: none

docs: remove undefined `staging` option (#7)
  README.md
Due: none

Refactor commitish handling to separate target and base
  src/cli/index.ts
  src/server/git-diff-tui.ts
  src/server/git-diff.ts
  src/server/server.ts
  src/tui/App.tsx
Due: lint, format, typecheck, test

Add compare-with option support
  src/cli/index.ts
  src/cli/utils.test.ts
  src/cli/utils.ts
  src/server/git-diff-tui.ts
  src/server/git-diff.ts
  tests/cli/utils.test.ts
  tsconfig.json
  vitest.config.ts
Due: lint, format, typecheck, test

remove lowercase
  src/server/git-diff-tui.ts
Due: lint, format, typecheck, test

update readme
  README.md
Due: none

1.1.1
  package.json
Due: format

Improve dev script: Add constants, process cleanup, and documentation
  scripts/dev.js
Due: format

merge main
  README.md
  package.json
  src/cli/index.ts
  src/cli/utils.test.ts
  src/cli/utils.ts
  src/server/git-diff-tui.ts
  src/server/git-diff.ts
  src/server/server.ts
  src/tui/App.tsx
  tests/cli/utils.test.ts
  tsconfig.json
  vitest.config.ts
Due: lint, format, typecheck, test

Fix git reset command suggestion for untracked files
  src/cli/index.ts
Due: lint, format, typecheck, test

docs: improve comment writing
  scripts/dev.js
Due: format

chore: remove unused function
  src/cli/utils.ts
Due: lint, format, typecheck, test

Create CHANGELOG.md
  CHANGELOG.md
Due: none

update claude setting
  .claude/commands/amend.md
  .claude/commands/commit.md
  CLAUDE.md
Due: none

CI for PR
  .github/workflows/pr.yml
Due: none

package update
  package.json
  pnpm-lock.yaml
  src/server/server.ts
Due: lint, format, typecheck, test

fix pre-commit target
  lefthook.yml
Due: none

fix lint
  src/server/server.ts
Due: lint, format, typecheck, test

Add comment export feature on process termination
  src/cli/index.ts
  src/client/App.tsx
  src/server/server.ts
Due: lint, format, typecheck, test

Add comment export feature on process termination (#9)
  src/cli/index.ts
  src/client/App.tsx
  src/server/server.ts
Due: lint, format, typecheck, test

setup /release
  .claude/commands/release.md
Due: none

Release v1.1.2
  CHANGELOG.md
  package.json
Due: format

update claude slash command
  .claude/commands/commit.md
  .claude/commands/release.md
Due: none
